@import './base';

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.strong-text {
    font-weight: bold;
}

.secondary-color {
    color: $mdc-theme-secondary !important;
}

.primary-color {
    color: $mdc-theme-primary !important;
}

.pointer {
    cursor: pointer;
}
