@import './base';

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.strong-text {
    font-weight: bold;
}

.error-text {
    color: red;
}

.secondary-color {
    color: $mdc-theme-secondary !important;
}

.primary-color {
    color: $mdc-theme-primary !important;
}

.pointer {
    cursor: pointer;
}

.dialog-full-screen {
    .mdc-dialog__surface {
        width: 100vw;
        height: 100vh;
    }
    .mdc-dialog__body {
        max-height: none;
        flex: 1;
    }
}
