@import '../../styles/base';

//TODO: move colors in scss vars
.landing-page {
    //@include mdc-icon-toggle-ink-color(white);
    min-height: 100%;
    background-color: $mdc-theme-primary;

    .title {
        color: #457dff;
    }

    .icon {
        color: #e0e0e0;
        font-size: 128px;
        margin: 40px 0;
    }

    &.password .icon {
        margin: 20px 0;
    }

    .center {
        text-align: center;
    }

    .password-input-wrapper {
        width: 285px;
        padding: 15px;
        margin: 0 auto;

        .error {
            height: 20px;
            line-height: 20px;
            color: red;
        }
    }

    .sign-in {
        margin: 0 auto;
        width: 260px;
    }

    .restore-wallet {
        @include mdc-button-container-fill-color(white);
        @include mdc-button-ink-color($mdc-theme-primary);
        width: 260px;
    }

    .create-wallet {
        width: 260px;
    }
}
