@import '../../styles/base';

//TODO: move colors in scss vars
.landing-page {
    //@include mdc-icon-toggle-ink-color(white);
    min-height: 100%;
    background-color: $mdc-theme-primary;

    .logo {
        width: 70%;
        max-height: 60px;
        margin: 40px 0 140px;
    }

    &.password .icon {
        margin: 20px 0;
    }

    .center {
        text-align: center;
    }

    .password-input-wrapper {
        width: 285px;
        padding: 15px;
        margin: 0 auto;

        .error {
            height: 20px;
            line-height: 20px;
            color: red;
        }
    }

    .sign-in {
        margin: 0 auto;
        width: 260px;
    }

    .restore-wallet {
        @include mdc-button-container-fill-color(white);
        @include mdc-button-ink-color($mdc-theme-primary);
        width: 260px;
    }

    .create-wallet {
        width: 260px;
    }

    .disclaimer-dialog {
        .mdc-dialog__surface {
            width: 100%;
        }

        .mdc-dialog__body--scrollable {
            height: 70vh;
            max-height: 70vh;
        }
    }
}
