@import '../../styles/base';

.big-screen-dashboard {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    .dashboard-page {
        flex: 4;
        height: 100%;
        overflow: auto;
    }

    .account-page {
        flex: 6;
        height: 100%;
        overflow: auto;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
}

.account-page {
    .mdc-card {
        margin: 16px 8px;
        padding: 8px;
    }

    .actions {
        display: flex;
        justify-content: center;

        .button {
            text-align: center;
            cursor: pointer;
            margin: 0 16px;
        }
    }

    .transactions-label {
        font-weight: bold;
        line-height: 24px;
    }

    .transaction-status-badge {
        position: absolute;
        bottom: 0px;
        left: 2px;
        font-size: 10px;
        text-align: center;
        width: 52px;
        text-transform: uppercase;

        &.success {
            color: green;
        }

        &.pending {
            color: orange;
        }
    }
}
