@import '../../../../styles/base';

.create-wallet-step3 {
    color: rgba(0, 0, 0, 0.6);
    padding: 16px;

    .subtitle {
        margin-bottom: 48px;
    }

    .rules {
        margin: 32px 0;
        .ok {
            color: green;
        }

        .error {
            color: red;
        }

        p {
            font-size: 13px;
            line-height: 15px;
        }

        i.mdc-icon {
            line-height: 15px;
            font-size: 15px;
            float: left;
            margin-right: 6px;
        }
    }

    .back.mdc-button {
        margin-right: 8px;
    }
}
