@import '../../styles/base';

.reveal-page {
    padding: 24px;
    .warning {
        font-size: 13px;
        margin-top: 50px;
    }

    .password-input {
        display: flex;
        margin-top: 24px;

        .mdc-text-field {
            flex: 1;
        }
    }

    .error {
        font-size: 13px;
        color: red;
        margin: 5px 10px;
    }

    .info {
        margin: 30px 0 0 0;

        &.key {
            text-align: center;
            font-size: 24px;
            word-wrap: break-word;
            cursor: pointer;
        }
    }

    .reveal-button {
        width: 100%;
        margin: 24px 0;
    }

    .tips {
        font-size: 13px;
        margin: 24px 0;
    }

    .copy-to-clipboard {
        opacity: 0.8;
        font-size: 14px;
        cursor: pointer;
        span {
            padding: 0 8px;
        }
        i {
            font-size: 14px;
        }
    }
}
