.receive-page {
    color: gray;

    .card {
        padding: 16px;
    }

    .qr-image {
        width: 100%;
        height: auto;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 16px;
    }

    .address {
        word-wrap: break-word;
        font-size: 1.5rem !important;
        color: gray !important;
        text-align: center !important;
    }
}
