.receive-page {
    .mdc-card {
        margin: 16px 8px;
    }
    .qr-image {
        width: 70%;
        height: auto;
        max-width: 300px;
        margin: 16px auto;
        display: block;
    }
}
