.receive-page {
    color: gray;

    .card {
        padding: 16px;
    }

    .qr-image {
        width: 100%;
        height: auto;
        max-width: 300px;
        margin: 0 auto;
    }

    .address {
        word-wrap: break-word;
        margin-top: 16px;
    }
}
