@import '../../styles/base';

.network-selector {
  margin: 0 auto;

  .mdc-chip {
    @include mdc-chip-fill-color(transparent);
    @include mdc-chip-ink-color(white);
  }

  .circle {
    width: 0;
    height: 0;
    border-radius: 5px;
    border: 5px solid rgb(79, 193, 190);
    margin-right: 5px;
  }
}
