.send-page {
    .gas-prices {
        display: flex;
        margin-top: -10px;
        div {
            flex: 1;
        }
    }
    .no-padding-top-bottom {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .confirmation-message {
        word-break: break-word;
    }
    .cta {
        width: 100%;
    }

    .amount-helper-text {
        display: flex;
        margin-top: -14px;

        & > span {
            flex: 1;
        }
    }
}
