@import '../../../styles/base';

.network-selector-dialog {
    .mdc-dialog__surface {
        min-width: 320px;
        max-width: 100%;
        width: 350px;
        max-height: 70vh;
    }

    .top-bar {
        @include mdc-top-app-bar-ink-color(black);
        @include mdc-top-app-bar-fill-color(white);
        @include mdc-top-app-bar-icon-ink-color(black);

        position: relative;
    }

    .mdc-dialog__body--scrollable {
        overflow-y: auto;
        padding: 0;
        margin: 0;
    }

    .mdc-list {
        padding: 0;
    }
}

.screen-small .network-selector-dialog {
    .mdc-dialog__surface {
        max-height: 100vh;
        height: 100%;
        width: 100%;
    }
}
