@import '../../../../styles/base';

.account-card {
    padding: 8px;

    .account-card-inner {
        display: flex;
    }

    .blockchain-logo {
        height: 30px;
        width: 30px;
        text-align: center;

        img {
            height: 30px;
        }
    }
    .account-name {
        flex: 1;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: $mdc-theme-gray-text;
    }
    .account-balance {
        font-size: 22px;
        text-align: center;
    }
}
