@import '../../styles/base';

.top-bar {
  .top-appbar-icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
  }

  .no-grow {
    flex-grow: 0;
  }

  .title {
    width: 100%;
    text-align: left;
    color: grey;
  }

  .center {
    text-align: center;
  }

  .right-text {
    text-align: left;
    color: grey;
    padding-right: 2em;
    font-size: 20px;
  }
}
