@import '../../styles/base';

.create-wallet-page {
    height: 100vh;
    background-color: $mdc-theme-on-primary;
    color: gray;
    white-space: pre-wrap;

    .left-text {
        padding-top: 2em;

        padding-bottom: 2em;

        text-align: left;
        font-size: 0.9em;
    }

    .margin-top {
        margin-top: 2em;
    }

    .title {
        font-size: 1.45em;
    }

    .padding-left-right {
        padding-left: 2em;
        padding-right: 2em;
    }

    .backup-button {
        @include mdc-button-container-fill-color(#dddddd);
        @include mdc-button-ink-color(grey);
        width: 18em;
    }

    .copy-to-clipboard {
        color: black;
        margin-top: 2em;
    }

    #words {
        height: 0px;
        width: 0px;
        overflow: hidden;
        position: absolute;
        left: -10px;
    }

    #hidden-words {
        background-color: $mdc-theme-primary;
        height: 15em;
    }

    #hidden-words-text {
        text-align: center;
        font-size: 0.8em;
    }

    #eye {
        padding-top: 5em;
        color: grey;
    }

    .secret-word {
        background-color: #dddddd;
        color: black;
        font-size: 0.7em;
        padding: 0.3em;
        margin: 0.3em;
        width: 6em;
        height: 2em;
        text-align: center;
    }

    .inner {
        //display:flex;
        @include mdc-layout-grid-fixed-column-width(phone, 5px, 5px, 10px);
    }

    .words-grid {
        width: 30em;
        height: 15em;
    }

    .hidden {
        background-color: $mdc-theme-primary;
    }
    .center {
        text-align: center;
    }
}
