@import '../../../../styles/base';

.create-wallet-step1 {
    color: rgba(0, 0, 0, 0.6);
    padding: 16px;

    .words-textarea {
        height: 0px;
        width: 0px;
        overflow: hidden;
        position: absolute;
        left: -10px;
    }

    .subtitle {
        margin: 0px 0 8px 0;
    }

    .warning {
        margin-bottom: 16px;
    }

    .word-list-overlay {
        width: 100%;
        background-color: $mdc-theme-primary;

        .mdc-button {
            margin: 50px 0;
        }
    }

    .copy-button-wrapper {
        margin-top: 20px;
        width: 100%;
    }

    .tips {
        margin: 24px 0 30px 0;
    }
}
