@import './styles/base';

@import './styles/reset';
@import './styles/utils';

html,
body {
    height: 100%;
    font-family: Roboto, sans-serif;
}

.app-root {
    min-height: 100%;
}

@import './styles/material-components';
