@import './styles/base';

@import './styles/reset';
@import './styles/utils';

html,
body {
    height: 100%;
    font-family: Roboto, sans-serif;
    color: #666666;
}

a {
    color: #666666;
    text-decoration: none;
}

.app-root {
    min-height: 100%;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import './styles/material-components';
