@import '../../../../styles/base';

.transaction-confirmation-page {
    .gas-prices {
        display: flex;
        margin-top: -10px;
        div {
            flex: 1;
        }
    }
    .no-padding-top-bottom {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .confirmation-message {
        word-break: break-word;
    }

    .button {
        width: 100%;

        &.reject {
            @include mdc-button-container-fill-color(white);
            @include mdc-button-ink-color($mdc-theme-primary);
        }
    }

    .current-network {
        height: 35px;
        line-height: 35px;
        text-align: right;
        padding: 0 16px;
        font-size: 13px;
        border-bottom: 1px solid #ccc;

        &.testnet {
            background: yellow;
        }
    }

    .details-link {
        margin-left: 20px;
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .details-dialog {
        .mdc-dialog__surface {
            width: 100vw;
            height: 100vh;
        }
        .mdc-dialog__body {
            max-height: none;
            flex: 1;
        }
    }

    .details-box {
        margin: 8px 0;
        border: 0;
        background: #f0f0f0;
        height: 200px;

        .mdc-floating-label {
            background: #f0f0f0;
        }

        textarea {
            border: 0;
        }
    }
}
