@import '../../styles/base';

.default-layout {
    height: 100vh;

    &.bg-primary {
        background-color: $mdc-theme-primary;
    }

    .page-container {
        // overflow-y: auto;
        max-width: $app-desktop-max-width;
        margin: 0 auto;
    }
}
