@import '../../../../styles/base';

.network-options-page {
    .switcher {
        display: flex;

        .mdc-icon-button {
            padding: 0 7px;
        }

        .mdc-icon-button__icon {
            font-size: 36px;
            line-height: 48px;
        }
    }

    .mainnet {
        text-align: right;
        padding: 0 10px;
        flex: 1;
        line-height: 48px;
        font-size: 18px;
    }

    .testnet {
        flex: 1;
        padding: 0 10px;
        line-height: 48px;
        font-size: 18px;
    }

    .active {
        color: $mdc-theme-secondary;
        font-weight: bold;
    }

    .network-list-item {
        cursor: pointer;
    }
}
