@import '../../styles/base';

.dashboard-page {
    //height: 100vh;
    background-color: $mdc-theme-on-primary;
    color: gray;
    white-space: pre-wrap;
    word-wrap: break-word;

    .card {
        padding: 8px 16px;
    }

    .balance-card {
        height: 100%;
    }

    .address-textarea {
        color: gray !important;
        font-size: 1.5rem !important;
        font-family: monospace;
        border: none;
        outline: none;
        resize: none;
    }

    .transactions-list {
        border: 1px solid #eee;
        padding: 0;
    }
}
