@import "preact-material-components/Card/mixins";
@import "../../styles/base";


.dashboard-page {
  height: 100vh;
  background-color: $mdc-theme-on-primary;
  color: #00000080;

  .balance-card {
    height: 116px;
    width: 280px;
    margin: 20px 0;
  }

  .address-card {
    height: 232px;
    width: 280px;
    margin: 20px 0;
  }

  .icon {
    color: #e0e0e0;
    margin: 40px 0;
  }

  .balance-card-text {
    margin: 10px 0;
    padding: 15px;
  }

 .address-card-text {
    margin: 15px 0;
   padding: 15px;

 }

  .center {
    text-align: center;
    font-size: 17px;
  }
}